In [2]:
pip install pyodbc pandas

Requirement already satisfied: pyodbc in c:\users\avani\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: pandas in c:\users\avani\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\avani\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\avani\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\avani\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\avani\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\avani\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyodbc

In [4]:
conn = pyodbc.connect(
    'DRIVER={SQL Server};SERVER=HARIOM\\SQLEXPRESS;DATABASE=NewBankingProject;Trusted_Connection=yes'
)

In [5]:
cursor = conn.cursor()
cursor.execute("SELECT GETDATE()")
print("Connected! Current SQL Server time:", cursor.fetchone()[0])

Connected! Current SQL Server time: 2025-08-02 22:07:57.850000

In [6]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sys.tables")
tables = cursor.fetchall()
for table in tables:
    print(table[0])

Customers
Accounts
Transactions

In [10]:
cursor.execute("SELECT TOP 5 * FROM Accounts")
for row in cursor.fetchall():
    print(row)

(101, 1, 'Savings', Decimal('15000.00'))
(102, 1, 'Current', Decimal('25000.00'))
(103, 2, 'Savings', Decimal('12000.00'))
(104, 3, 'Savings', Decimal('8000.00'))
(105, 4, 'Current', Decimal('50000.00'))

In [15]:
import pandas as pd

df = pd.read_sql("SELECT * FROM Customers", conn)
print(df.head())

   CustomerID            Name                   Email       Phone
0           1   Avanit Sharma      avanit@example.com  9876543210
1           2     Priya Mehta       priya@example.com  9123456789
2           3      Ravi Kumar        ravi@example.com  9988776655
3           4    Aniket Singh    aniket23@example.com  8972000021
4           5  Ravinder Verma  ravinder23@example.com  8844611410

C:\Users\avani\AppData\Local\Temp\ipykernel_14664\2103531817.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM Customers", conn)